*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    justify-content: center;
    align-items: center;
    color: brown;
    margin-bottom: 20px;
    text-align: center;
}

div{
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

button{
display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

h3{
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}